# 源码文件
src/
tsconfig.json
eslint.config.ts

# 开发依赖
node_modules/
pnpm-lock.yaml

# 开发工具配置
.vscode/
.idea/

# 日志文件
*.log
npm-debug.log*

# 临时文件
.DS_Store
Thumbs.db

# 测试文件
test/
tests/
__tests__/
*.test.js
*.test.ts
*.spec.js
*.spec.ts
